@font-face {
    font-family: 'Emotion Engine';
    src: url('EmotionEngine.woff2') format('woff2'),
        url('EmotionEngine.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}